# SAM Build
.aws-sam/
samconfig.toml

# Node
node_modules/
package.json
package-lock.json

# Backup files
*.bak

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
